/* Header */

header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px 20px;
  background-color: rgba(255, 255, 255, 0.0);
  margin-top: 10px;
}

@media(max-width: 615px) {
  header {
    padding: 20px 50px;
  }
}
@media(max-width: 560px) {
  header {
    padding: 20px 30px;
  }
}
@media(max-width: 517px) {
  header {
    padding: 20px 15px;
  }
}

header nav {
  display: flex;
  margin-right: -15px;
  font-size: 1em;
}

header nav li {
  margin: 0 15px;
}

header a,
header nav li a {
  color: rgba(255, 255, 255, 0.5);
}

header h2 {
  font-weight: 700;
}

header a.home:hover {
  color: black;
}

.grow { transition: all .1s ease-in-out; }

.grow:hover {
  color: black;
}
