/* Header */

header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 100px 5px;
  background-color: rgba(58, 58, 59, 0.8);
  margin-top: 25px;
}



header nav {
  display: flex;
  margin-right: -15px;
  font-size: 1em;
}

header nav li {
  margin: 0 15px;
}

header a,
header nav li a {
  color: rgba(255, 255, 255, 0.5);
}

header h2 {
  font-weight: 700;
}

header a.home:hover {
  color: black;
}

.grow { transition: all .1s ease-in-out; }

.grow:hover {
  color: black;
}

@media(max-width: 615px) {
  header {
    padding: 20px 50px;
  }
}
@media(max-width: 560px) {
  header {
    padding: 20px 30px;
  }
}
@media(max-width: 517px) {
  header {
    padding: 10px 15px;
  }
}
@media(max-width: 473px) {
  header {
    padding: 0;
  }
  header nav {
    margin-right: 0;
    margin-left: 15px;
    vertical-align: text-bottom;
  }
  header nav li {
    margin: 4px 5px 0 0;
  }
}
